@charset "UTF-8";


h2 {
    margin-left: 20px;
}

table{
	width: 1200px;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 50px;
    margin: 0 auto;
    margin-left: 20px;
}

th {
    height: 50px;
    background: rgba(190, 190, 190,0.5);
}

td {
    height: 40px;
    border-bottom: 1px solid gray;
    text-align: center;
}

/* 페이징 */

button:hover{
	cursor: pointer;
}  

.numBtn{
	border: 0px; 
	background-color: rgb(190, 190, 190); 
	width:30px; 
	height:30px; 
	border-radius:5px;
}
		
.Btn{
	border: 0px; 
	background-color: rgb(190, 190, 190); 
	width:30px; 
	height:30px; 
	border-radius:5px;
}

#choosen{
	border: 0px; 
	background-color: rgb(52, 73, 94); 
	color:white; 
	width:30px; 
	height:30px; 
	border-radius:5px;
}


div#pagingArea {
    margin-top: 30px;
}



#register{
	border: 0px;
   outline: 0px;
   background: rgb(44, 62, 80);
   font-size: 15px;
   font-weight: bold;
   color:white;
   cursor: pointer;
   width: 80px;
   height: 30px;
   margin-left:1100px
}
#search{
	border: 0px;
   outline: 0px;
   background: rgb(44, 62, 80);
   font-size: 15px;
   font-weight: bold;
   color:white;
   cursor: pointer;
   width: 80px;
   height: 30px;
}

select#searchCate {
    height: 35px;
}

input[type="text"] {
    height: 25px;
}

div#searchArea {
    margin-left: 50px;
}

#owner_notice{
	width:1200px;
}

